body{
    background: steelblue;
     
}
#main{
    width: 80%;
    height: 90%;
    background: yellowgreen;
    margin: 25px auto;
    border: 2px solid aquamarine;
    padding: 10px;
}
h2{
    text-align: center;
    font-family: sans-serif;
    color: crimson;
}
hr{
    height: 2px;
    color: aquamarine;
    padding: 1px;
}


